<div id="edit-form-for-small-screen" class="
lg:hidden 
z-60
fixed top-8/12 left-0 p-1 w-full h-full 
transform translate-y-full transition-transform duration-300 ease-in-out
border-t-3 border-l-3 border-r-3  border-primary-dark rounded-t-3xl
">
  <div class="border-2 border-primary-dark rounded-full     w-16 m-auto mt-2"></div>
  <div class="flex flex-col">
    <button class="p-2 m-4 text-2xl border rounded-sm border-primary-dark bg-primary-dark text-white">Add Category</button>
    <button class="p-2 m-4 text-2xl border rounded-sm border-primary-dark bg-primary-dark text-white">Add Item</button>
  </div>
</div>