<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory Application</title>
</head>

<body>
  <h1>Tech Inventory</h1>

  <ul>
    <h2>Categories: </h2>
    <% categories.forEach(category=>{ %>
    <li> <a href=<%=`/${category.name}`%> ><%= category.name%></a> </li>
    <% }) %>
  </ul>

</body>

</html>