<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/output.css">
  <title>Items</title>
</head>

<body>
  <h2 >Items</h2>
  <ul>
    <% items.forEach(item=>{ %>
    <li> Name: <%=item.name%> Price: $<%=item.price%> Quantity: <%=item.quantity%>pcs</li>
    <%})%>
  </ul>
</body>

</html>