/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import "tailwindcss";
@source "../views/";
@layer base {
  body {
    font-family: "Roboto", sans-serif;
    @apply lg:mx-10 lg:pt-5;
  }
  input {
    @apply text-base;
  }
}
@theme {
  /* color is emerald from tailwind color pallets on their website. */
  --color-primary: oklch(69.6% 0.17 162.48);
  --color-primary-dark: oklch(43.2% 0.095 166.913);
  --color-primary-light: oklch(84.5% 0.143 164.978);
}
